In [1]:
from scipy.sparse.linalg import svds
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_excel("./datasets/printer_data.xlsx")
data2 = pd.read_excel("./datasets/user_data.xlsx")

In [43]:
df = pd.DataFrame(columns=['근무자수','productid','급지용량','가격'])

for i in range(0,5901):
    df = df.append({'productid':i+1, '근무자수':abs(data['근무자수'][i]-data2['근무자 수'][0]), '급지용량':abs(data['기본 급지용량'][i]-data2['용지사용량'][0]), '가격':abs(data['가격'][i]-data2['가격'][0])}, ignore_index=True)
#printer_sim_df = pd.DataFrame(data=lis)
temp = df.sort_values(by='근무자수', ascending=False).reset_index(drop=True)['근무자수'][0]
temp2 = df.sort_values(by='급지용량', ascending=False).reset_index(drop=True)['급지용량'][0]
temp3 = df.sort_values(by='가격', ascending=False).reset_index(drop=True)['가격'][0]
print(temp)

67

In [45]:
df['worker_sim']= (temp - df['근무자수'])/temp
df['paper']= (temp2 - df['급지용량'])/temp2
df['price']= (temp3 - df['가격'])/temp3
df = df.sort_values(by='productid', ascending=True)
df.head(5)

  근무자수 productid  급지용량       가격 worker_sim     paper     price
0   54         1  1203  6000000    0.19403  0.172058  0.571429
1   10         2   213  5500000   0.850746  0.853407  0.607143
2   35         3   973  4900000   0.477612  0.330351      0.65
3    8         4   303  4711290   0.880597  0.791466  0.663479
4   63         5   153  4299940  0.0597015  0.894701  0.692861

In [48]:
df['avg']=(df['worker_sim']+df['paper']+df['price'])/3
df = df.sort_values(by='avg', ascending=False)
df.head(4)

   근무자수 productid 급지용량       가격 worker_sim     paper     price       avg
10    1        11  523  2000000   0.985075  0.640055  0.857143  0.827424
17    7        18  153  4783000   0.895522  0.894701  0.658357  0.816193
3     8         4  303  4711290   0.880597  0.791466  0.663479  0.778514
13   17        14  203  4000000   0.746269  0.860289  0.714286  0.773614

In [60]:
df = pd.DataFrame(columns=['근무자수','productid','급지용량','가격'])
user_df = pd.DataFrame()

for j in range(0,30):
    for i in range(0,5901):
        df = df.append({'productid':i+1, '근무자수':abs(data['근무자수'][i]-data2['근무자 수'][j]), '급지용량':abs(data['기본 급지용량'][i]-data2['용지사용량'][j]), '가격':abs(data['가격'][i]-data2['가격'][j])}, ignore_index=True)
    #printer_sim_df = pd.DataFrame(data=lis)
    temp = df.sort_values(by='근무자수', ascending=False).reset_index(drop=True)['근무자수'][j]
    temp2 = df.sort_values(by='급지용량', ascending=False).reset_index(drop=True)['급지용량'][j]
    temp3 = df.sort_values(by='가격', ascending=False).reset_index(drop=True)['가격'][j]

    df['worker_sim']= (temp - df['근무자수'])/temp
    df['paper']= (temp2 - df['급지용량'])/temp2
    df['price']= (temp3 - df['가격'])/temp3
                                                                                      
                    
    user_df[j]= (df['worker_sim']+df['paper']+df['price'])/3

In [61]:
user_df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.312505,0.386573,0.440944,0.450468,0.450468,0.504574,0.504574,0.504574,0.504574,0.504574,...,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715,0.574715
1,0.770432,0.783546,0.793615,0.802345,0.802345,0.811925,0.811925,0.811925,0.811925,0.811925,...,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354,0.845354
2,0.485988,0.545894,0.581135,0.588912,0.588912,0.632674,0.632674,0.632674,0.632674,0.632674,...,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708,0.684708
3,0.778514,0.797169,0.805224,0.812703,0.812703,0.82633,0.82633,0.82633,0.82633,0.82633,...,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793,0.855793
4,0.549088,0.558508,0.621941,0.628766,0.628766,0.635647,0.635647,0.635647,0.635647,0.635647,...,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936,0.692936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5896,0.100608,0.177754,0.234139,0.256361,0.256361,0.312717,0.312717,0.312717,0.312717,0.312717,...,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895,0.421895
5897,0.257878,0.328867,0.358066,0.380288,0.380288,0.432146,0.432146,0.432146,0.432146,0.432146,...,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065,0.525065
5898,0.247099,0.299617,0.344926,0.367149,0.367149,0.405513,0.405513,0.405513,0.405513,0.405513,...,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646,0.504646
5899,0.117468,0.200771,0.249101,0.271323,0.271323,0.332176,0.332176,0.332176,0.332176,0.332176,...,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771,0.437771
5900,0.130874,0.217255,0.26055,0.282772,0.282772,0.345874,0.345874,0.345874,0.345874,0.345874,...,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111,0.449111

In [62]:
user_df.to_excel('./datasets/user_preference.xlsx', index = False)